<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Home page</title>
  </head>
  <body>
    <nav class="nav nav-masthead justify-content-center float-md-right">
      <a class="nav-link active" aria-current="page" href="#">Home</a>
      
      <a class="nav-link" href="/login">Login</a>
      <a class="nav-link" href="/register">Register</a>
      <a class="nav-link" href="/movies/add">Add Post</a>
      
  </nav>
    <div class="title">MovieMaster</div>

    <h1>Discuss your favorite movie with fans like you!</h1>
  </body>
</html>